*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'PT Serif', serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: 0;
    cursor: pointer;
    transition: .3s ease;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    outline: none;
}
.wrap_nav{
    width: 100%;
}
.nav{

}
.crieteria p{
 text-transform: uppercase;
}
.crieteria{
display: inline-block;
}
.main_nav{
    float: right;
}
.main_nav ul li{
    float: left;
    margin-left: 45px;
}
.main_nav ul li:first-child{
    margin-left: 0;
}