*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'PT Serif', serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: 0;
    cursor: pointer;
    transition: .3s ease;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    outline: none;
}
.head{
        overflow-x: hidden;
        background: url(img/main.png);
        background-repeat: no-repeat;
        background-size: 78% 103%;
        height: 80vh;
        background-color: #f1efedcc;
    
}
.wrap{
    width: 100%;
    overflow: hidden;
}
.nav{
    width: 70%;
    margin: 4% 0% 4% 13%;
}
.crieteria p{
    text-transform: uppercase;
    text-shadow: 1px 9px 8px rgba(44, 40, 40, 0.84);
    letter-spacing: 8px;
}
.crieteria{
display: inline-block;
}
.main_nav{
    float: right;
}
.main_nav ul li{
    float: left;
    margin-left: 45px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}
.main_nav ul li:first-child{
    margin-left: 0;
}
.main_nav ul li a{
    font-size: 18px;
    color: rgba(7, 6, 6, 0.829);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.main_nav ul li:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    text-shadow: 0px 5px 4px gray;
}
.desc{
    width: 33%;
    height: 50%;
    float: right;
    overflow: hidden;
    padding: 15px;
    margin-top: 100px;
    margin-right: 100px;
}
.xd{
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 12px;
}
.desc h5{
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 15px;
}
.lol{
    font-family: 'Raleway', sans-serif;
    /*width: 32%;*/
}
.desc button{
    padding: 10px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #1769ff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
}
